<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>Blog</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="" />
    <script>
      addEventListener("load", function () {
      	setTimeout(hideURLbar, 0);
      }, false);
      
      function hideURLbar() {
      	window.scrollTo(0, 1);
      }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="styles/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="styles/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="styles/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <link href="http://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:400,700" rel="stylesheet">
  </head>
  <body>
 
    <!-- //short-->
    <!--blog-->
    <section class="blog py-lg-4 py-md-3 py-sm-3 py-3" id="blog">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Blog</h3>
        <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
          <p>北京】嗨！外星人 | 斯威特+CJ周密+红中Redok+可可爱 北京站
            时间：2021.05.31 周一 20:00
            场馆：北京市 | MAO Livehouse北京 
            场次时间均为演出当地时间
            场次
            2021-05-31 星期一 20:00
            票档
            预售票（138.00）
            <br>
            还剩下<h4><p id="count" style="color:coral;" onkeyup="sum(this);"><%=count%></p></h4>
          </p>

        </div>  
        <center>
        <form action="/blg"method="post">
        <div>
          <label for="name" style="color:coral;">登入名</label>
          <input type="text" name="user_name" id="name">
          <p class="name" id="p_name"></p>
        </div>
        <div>
          <label for="chName"style="color:coral;">密码</label>
          <input type="text" name="user_pass" id="pass">
          <p class="chName" id="p_pass"></p>
        </div>
        <div>
         
          <label for="chName"style="color:coral;">购票数量</label>
          <input type="text" name="user_buy" id="buy" onkeyup="sum(this);">
        </div>
        <div>
          <label for="chName"style="color:coral;">票价钱</label>
         <input type="text" name="user_price" id="price" onkeyup="sum(this);">自动生成 
        </div>
        <div>
          <input type="submit" value="提交" id="de">
        </div> 
      </form> 
    </center>
        <div class="row">
          <div class="col-lg-6 color-img-three">
            <img src="images/blog3.jpg" alt="news image" class="img-fluid">
          </div>
          <div class="col-lg-6 blog-left-sub">
            <h4 class="pb-3"><a href="about.html">Oil Refineries</a></h4>
            <p>【北京】打扰一下乐团「世界不会轻易崩塌2.0」2021巡演 北京站
              时间：2021.07.03 周六 20:00
              场馆：北京市 | 疆进酒·OMNI SPACE 
              城市 北京站郑州站长沙站温州站
              场次时间均为演出当地时间
              场次
              2021-07-03 周六 20:00
              票档
              预售票168元
              全价票218元 开售提醒
              VIP票298元
              数量 
              1
               每笔订单限购6张
            </p>
            <div class="blog-date-time mt-lg-4 mt-md-3 mt-3">
              <ul>
                <li><span class="fa fa-calendar" aria-hidden="true"></span><a href="about.html">12/4/2021</a></li>
                <li><span class="fa fa-comments" aria-hidden="true"></span><a href="about.html">5 Comments</a></li>
              </ul>
            </div>
            <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
              <a href="/ii" class=" scroll">购买</a>
            </div>
          </div>
        </div>
        <div class="row mt-lg-5 mt-md-4 mt-3">
          <div class="col-lg-4 blog-grid-behind">
            <div class="blog-images-us">
              <img src="images/blog1.jpg" alt="news image" class="img-fluid">
              <div class="blog-wthree-sub">
                <h4 class="pb-3"><a href="about.html">Completions</a></h4>
                <p>北京】2021 李鑫一“X·in”个人巡回音乐会
                  时间：2021.06.27 周日 19:30
                  场馆：北京市 | 疆进酒·OMNI SPACE 
                  场次时间均为演出当地时间
                  场次
                  2021-06-27 周日 19:30
                  票档
                  普通票 200元
                  VIP 380元
                  VVIP 520元
                </p>
              </div>
              <div class="news-date">
                <a href="/uu"><span>6</span>/May</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 blog-grid-behind">
            <div class="blog-images-us">
              <img src="images/blog2.jpg" alt="news image" class="img-fluid">
              <div class="blog-wthree-sub">
                <h4 class="pb-3"><a href="about.html">Oil Drilling</a></h4>
                <p>【北京】「野蛮生长·贰」·发力人音乐专场
                  时间：2021.05.26 周三 20:00
                  场馆：北京市 | MAO Livehouse北京 
                  场次时间均为演出当地时间
                  场次
                  「野蛮生长·贰」·发力人音乐专场
                  票档
                  现场票（120.00）
                  数量 
                  1
                   每笔订单限购6张
                </p>
              </div>
              <div class="news-date">
                <a href="/oo"><span>8</span>/jun</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 blog-grid-behind">
            <div class="blog-images-us">
              <img src="images/blog4.jpg" alt="news image" class="img-fluid">
              <div class="blog-wthree-sub">
                <h4 class="pb-3"><a href="about.html">Industry Work</a></h4>
                <p>【北京】爱莲说Vol.14赤子之心‖中国新说唱 X 认真的嘎嘎们“李棒棒，坤木，王极 ”等
                  时间：2021.05.28 周五 19:30
                  场馆：北京市 | 魅现场 
                  场次时间均为演出当地时间
                  场次
                  2021-05-28 周五 19:30
                  票档
                  预售票：100元
                  全价票：120元
                  双人票：160元
                  数量 
                  1
                   每笔订单限购6张
                </p>
              </div>
              <div class="news-date">
                <a href="/oo"><span>2</span>/May</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//blog-->
    <!-- footer -->
    <footer class="py-lg-4 py-md-3 py-sm-3 py-3" >
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="row">
          <div class="col-lg-6 col-md-6 footer-left-grid">
            <div class="footer-w3layouts-head">
              <h2><a href="index.html">Oil Rig</a></h2>
            </div>
            <div class="mb-1 pt-lg-5 pt-md-4 pt-3 footer-address">
              <ul>
                <li>
                  <h4>Get In Touch</h4>
                </li>
                <li>
                  <p>Melbourne st, QLD 4101,Australia</p>
                </li>
              </ul>
            </div>
            <div class="mb-1 footer-address">
              <ul>
                <li>
                  <h4>Email</h4>
                </li>
                <li>
                  <p><a href="mailto:info@example.com">info@example1.com</a> 
                  </p>
                </li>
              </ul>
            </div>
            <div class="mb-1 footer-address">
              <ul>
                <li>
                  <h4>Phone</h4>
                </li>
                <li>
                  <p>+(000) 123 4565 32</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer-info-bottom col-lg-6 col-md-6">
            <h4 class="pb-lg-4 pb-md-3 pb-3">NewsLetter</h4>
            <div class="newsletter">
              <form action="#" method="post" class="d-flex">
                <input type="email" name="Your Email" class="form-control" placeholder="Your Email" required="">
                <button class="btn1">
                <span class="fa fa-envelope" aria-hidden="true"></span>
                </button>
              </form>
            </div>
            <div class="footer-office-hour mt-3">
              <p>vehicula velit sagittis vehicula. Duis posuere ex in mollis iaculis. Suspendisse tincidunt velit sagittis vehicula</p>
            </div>
            <div class="icons mt-3 ">
              <ul>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-rss"></span></a></li>
                <li><a href="#"><span class="fa fa-vk"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="bottem-wthree-footer text-center pt-lg-5 pt-md-4 pt-3">
          <p> 
            Copyright &copy; 2021.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
          </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
          <a href="#home" class="move-top text-center mt-3"></a>
        </div>
        <!--//move icon -->
      </div>
    </footer>
    <!--//footer -->
  </body>
  <script type="text/javascript">
      var count =document.getElementById("count");
      function sum(obj){
        var pass =document.getElementById("price");
        var buy =document.getElementById("buy");
        var count =document.getElementById("count");
        price.value=parseInt(price.value);
        if(buy.value!=''){
          price.value=parseInt(buy.value)*168;
          count.value=parseInt(count.value)-parseInt(buy.value);
        }
      }
  </script>
</html>