<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ind</title>
</head>
<body>
    <style>
         body{background-color: black;
           color: rgb(202, 243, 91); }
         div{background-color: rgb(236, 100, 51);}

    </style>
        <div >
            
            <center>
                <form action="/ind/ss" method="POST" >
                    <input type="text" name="search" placeholder="收索name or 票号"/>
                    <input type="submit"/>
                </form>
                <br>
                <form action="/ind" method="POST" > 
                    <input type="text" name="use_name" placeholder="name"/>
                    <input type="text" name="t_id" placeholder="票号"/>
                    <input type="text" name="use_id" placeholder="id"/>  
                    <input type="submit"/>
                </form>
                <br>
        </center>
    <table style="width:400px; margin-right:auto; margin-left:auto;" border="1" cellspacing="0">

                <% for(let o of data){%>
                <tr> 
                    <td><%=o.use_name %></td>
                    <td><%=o.use_id %></td>
                    <td><%=o.t_id %></td>
                    <td>
                        <a href="/ind/del/<%=o.use_id %>">删除</a>
                        <a href="/ind/to/<%=o.use_id%>">修改</a>
                    </td>
                </tr>  
              <% }  %>
    </table>
    
        </div>
</body>
</html>