<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

    body{background-color: black;}
</style>
<body>
    
    <form style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;"  action="/oo" method="POST">
      <div>
        <label for="name" style="color:coral;">北京】嗨！外星人 | 斯威特+CJ周密+红中Redok+可可爱 北京站
          时间：2021.05.31 周一 20:00
          场馆：北京市 | MAO Livehouse北京 
          场次时间均为演出当地时间
          场次
          2021-05-31 星期一 20:00
          票档
          预售票（138.00）
          全价票（168.00）
          双人票（258.00）
          VIP票（含二楼畅饮+提前1小时入场）（268.00</label>
      </div>
      <div>
        <label for="name" style="color:coral;">登入名</label>
        <input type="text" name="user_name" id="name">
        <button type="button" id="btn_add">验证</button>
        <p class="name" id="p_name"></p>
      </div>
       <div>
        <label for="chName"style="color:coral;">票时间</label>
        <input type="text" name="user_time" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">票日期</label>
        <input type="text" name="user_datetime" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">票价钱</label>
        <input type="text" name="user_price" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <input type="submit" value="提交" id="de">
       
      </div>
   </form>
</body>
</html>