<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
	<link rel="stylesheet" type="text/css" href="/styles/register.css">
</head>
<style>
	img{  
width: 40px;  
height: 25px;  
position: absolute;    
right: 0px;   
margin: 15px;    
}  
</style>
<body>
    <form action="/register" method="POST">
		<div>
			<label for="name">登录用户名</label>
			<input type="text" name="user_name" id="name">
			<button type="button" id="btn_add">验证</button>
			<p class="name" id="p_name"></p>
		</div>
		<div>
			<label for="chName">密码</label>
			<img id="demo_img" οnclick="hideShowPsw()" src="img/hide.png"> 
			<input type="password" name="user_pass" id="pass">
			<button type="button" id="btn_mi">验证</button>
			<p class="chName" id="p_pass"></p>
		</div>
		
		<div>
			<input type="submit" value="注册" id="zhu">
		</div>
    </form>
	<script type="text/javascript" src="/javascripts/register.js">
	 var demoImg = document.getElementById("demo_img");  
   var demoInput = document.getElementById("demo_input");  
   //隐藏text block，显示password block  
   function hideShowPsw(){  
       if (demoInput.type == "password") {  
           demoInput.type = "text";  
           demo_img.src = "img/show.png";  
       }else {  
           demoInput.type = "password";  
           demo_img.src = "img/hide.png";  
       }  
   }  
	</script>
</body>
</html>