<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

    body{background-color: black;}
</style>
<body>
    
    <form style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;"  action="/index" method="POST">
      <div>
        <label for="name" style="color:coral;">【北京】打扰一下乐团「世界不会轻易崩塌2.0」2021巡演 北京站
            时间：2021.07.03 周六 20:00
            场馆：北京市 | 疆进酒·OMNI SPACE 
            城市 北京站郑州站长沙站温州站
            场次时间均为演出当地时间
            场次
            2021-07-03 周六 20:00
            票档
            预售票168元
            全价票218元 开售提醒
            VIP票298元</label>
      </div>
      <div>
        <label for="name" style="color:coral;">登入名</label>
        <input type="text" name="user_name" id="name">
        <button type="button" id="btn_add">验证</button>
        <p class="name" id="p_name"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">密码</label>
        <input type="text" name="user_pass" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
       
        <label for="chName"style="color:coral;">是否购票</label>
        <input type="text" name="user_buy" id="buy">
       </div>
       <div>
        <label for="chName"style="color:coral;">票时间</label>
        <input type="text" name="user_time" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">票日期</label>
        <input type="text" name="user_datetime" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">票价钱</label>
        <input type="text" name="user_price" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      <div>
        <input type="submit" value="提交" id="de">
       
      </div>
   </form>
</body>
</html>