<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ind</title>
</head>
<body>
    <style>
         body{background-color: rgb(248, 183, 6);}
        table, td, th
        {
            border:1px solid rgb(12, 234, 241);
        }
        th
        {
            background-color:rgb(12, 241, 134);
            color:white;
        }
    </style>
        </head>
        
        <body>
        <table style="width:400px; margin-right:auto; margin-left:auto;">
        <tr>
        <th>use_name</th>
        <th>uss_buy</th>
        </tr>
        <tr>
        <td>Peter</td>
        <td>Griffin</td>

        </tr>
        <tr>
        <td>Lois</td>
        <td>Griffin</td>

        </tr>
        <tr>
        <td>Joe</td>
        <td>Swanson</td>

        </tr>
        <tr>
        <td>Cleveland</td>
        <td>Brown</td>

        </tr>
        </table>
</body>
</html>