<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>

    body{background-color: black;}
</style>
<body>
    
    <form style="width:400px; margin-right:auto; margin-left:auto; border:1px solid #000;"  action="/index" method="POST">
      <div>
        <label for="name" style="color:coral;">登入名</label>
        <input type="text" name="user_name" id="name">
        <button type="button" id="btn_add">验证</button>
        <p class="name" id="p_name"></p>
      </div>
      <div>
        <label for="chName"style="color:coral;">密码</label>
        <input type="text" name="user_pass" id="pass">
        <button type="button" id="btn_mi">验证</button>
        <p class="chName" id="p_pass"></p>
      </div>
      
       <div>
       
        <label for="chName"style="color:coral;">是否购票</label>
        <input type="text" name="user_buy" id="buy">
       </div>
      <div>
        <input type="submit" value="提交" id="de">
       
      </div>
   </form>
</body>
</html>