<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UI组件之排序表格</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/Table.css">
	<script src="/javascripts/jq3.6.0.js"></script>
	<script src="/javascripts/jq_test.js"></script>
</head>
<body>
	<table>
		<thead>
			<tr>
				<td colspan="6">
					<input type="button" value="新增" id="add_button"/>
				</td>
			</tr>
			<tr>
				<td>姓名</span></td>
				<td>语文<span class="upBtn"></span><span class="downBtn"></td>
				<td>数学<span class="upBtn"></span><span class="downBtn"></td>
				<td>英语<span class="upBtn"></span><span class="downBtn"></td>
				<td>总分<span class="upBtn"></span><span class="downBtn"></td>
				<td>按钮</td>
			</tr>
		</thead>
		<tbody>
			<% list.forEach ((o,i) =>{ %>
				<tr>
					<td><%=o.name %></td>
					<td><%=o.s1 %></td>
					<td><%=o.s2 %></td>
					<td><%=o.s3 %></td>
					<td><%=+o.s1+ +o.s2+ +o.s3 %></td>
					<td>
						<input data-id=<%=i %> type="button" value="删除" class="del_button">
						<input data-id=<%=i %> type="button" value="修改" class="upd_button">
					</td>
				</tr>
			<% })%>
		</tbody>
		<tfoot>
			<td colspan="6">
				<input type="button" value="1" id="nextPage" />
				<input type="button" value="2" id="nextPage" />
				<input type="button" value="3" id="nextPage" />
			</td>
		</tfoot>
	</table>
	<script type="text/javascript" src="/javascripts/Table.js"></script>
	<script src="/javascripts/task.js"></script>
</body>
</html>